<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.seits.modules.business.cm.dao.crud.techPreEmployeeRelMapper.TechPreEmployeeRelMapper" >
  <resultMap id="BaseResultMap" type="cn.seits.modules.business.cm.model.techPreEmployeeRel.TechPreEmployeeRel" >
    <id column="TECHNOLOGYPREFERENCE_ID" property="technologypreferenceId" jdbcType="VARCHAR" />
    <id column="EMPLOYEE_ID" property="employeeId" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    TECHNOLOGYPREFERENCE_ID, EMPLOYEE_ID, CREATE_TIME, UPDATE_TIME
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.seits.modules.business.cm.model.techPreEmployeeRel.TechPreEmployeeRelExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from PMS_CM_TECHPREEMPLOYEE_REL
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="cn.seits.modules.business.cm.model.techPreEmployeeRel.TechPreEmployeeRelKey" >
    select 
    <include refid="Base_Column_List" />
    from PMS_CM_TECHPREEMPLOYEE_REL
    where TECHNOLOGYPREFERENCE_ID = #{technologypreferenceId,jdbcType=VARCHAR}
      and EMPLOYEE_ID = #{employeeId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="cn.seits.modules.business.cm.model.techPreEmployeeRel.TechPreEmployeeRelKey" >
    delete from PMS_CM_TECHPREEMPLOYEE_REL
    where TECHNOLOGYPREFERENCE_ID = #{technologypreferenceId,jdbcType=VARCHAR}
      and EMPLOYEE_ID = #{employeeId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="cn.seits.modules.business.cm.model.techPreEmployeeRel.TechPreEmployeeRelExample" >
    delete from PMS_CM_TECHPREEMPLOYEE_REL
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.seits.modules.business.cm.model.techPreEmployeeRel.TechPreEmployeeRel" >
    insert into PMS_CM_TECHPREEMPLOYEE_REL (TECHNOLOGYPREFERENCE_ID, EMPLOYEE_ID, 
      CREATE_TIME, UPDATE_TIME)
    values (#{technologypreferenceId,jdbcType=VARCHAR}, #{employeeId,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="cn.seits.modules.business.cm.model.techPreEmployeeRel.TechPreEmployeeRel" >
    insert into PMS_CM_TECHPREEMPLOYEE_REL
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="technologypreferenceId != null" >
        TECHNOLOGYPREFERENCE_ID,
      </if>
      <if test="employeeId != null" >
        EMPLOYEE_ID,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="technologypreferenceId != null" >
        #{technologypreferenceId,jdbcType=VARCHAR},
      </if>
      <if test="employeeId != null" >
        #{employeeId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.seits.modules.business.cm.model.techPreEmployeeRel.TechPreEmployeeRelExample" resultType="java.lang.Integer" >
    select count(*) from PMS_CM_TECHPREEMPLOYEE_REL
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update PMS_CM_TECHPREEMPLOYEE_REL
    <set >
      <if test="record.technologypreferenceId != null" >
        TECHNOLOGYPREFERENCE_ID = #{record.technologypreferenceId,jdbcType=VARCHAR},
      </if>
      <if test="record.employeeId != null" >
        EMPLOYEE_ID = #{record.employeeId,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update PMS_CM_TECHPREEMPLOYEE_REL
    set TECHNOLOGYPREFERENCE_ID = #{record.technologypreferenceId,jdbcType=VARCHAR},
      EMPLOYEE_ID = #{record.employeeId,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.seits.modules.business.cm.model.techPreEmployeeRel.TechPreEmployeeRel" >
    update PMS_CM_TECHPREEMPLOYEE_REL
    <set >
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where TECHNOLOGYPREFERENCE_ID = #{technologypreferenceId,jdbcType=VARCHAR}
      and EMPLOYEE_ID = #{employeeId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.seits.modules.business.cm.model.techPreEmployeeRel.TechPreEmployeeRel" >
    update PMS_CM_TECHPREEMPLOYEE_REL
    set CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
    where TECHNOLOGYPREFERENCE_ID = #{technologypreferenceId,jdbcType=VARCHAR}
      and EMPLOYEE_ID = #{employeeId,jdbcType=VARCHAR}
  </update>
</mapper>